# ===========================
# Python
# ===========================
venv/
.venv/
env/
ENV/

__pycache__/
*.py[cod]
*.pyo

# ===========================
# Node / React
# ===========================
node_modules/
dist/
build/

# ===========================
# Environment variables
# ===========================
.env
.env.*
!.env.example

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Python cache
# ===========================
.pytest_cache/
.mypy_cache/

# ===========================
# Coverage
# ===========================
.coverage
htmlcov/